.clickable {
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.chipletContainerInner {
    background-color: #9b9b9b;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 6px;
    line-height: 16px;
    color: white;
    font-size: 13px;
    vertical-align: middle;
}

.chipletContainerInner:hover {
    background-color: #bfbfbf;
}


/* .clickable:hover,
.clickable:focus {
    background-color: #dfdfdf;
    outline: none;
}

.chipletContainerInline {
    margin-top: -2px;
}

.chipletContainerInner {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    line-height: 16px!important;
    padding: 0 4px;
    vertical-align: middle;
}

.clanTagChiplet {
    margin-inline: 4px 0;
}

.tagText {
    font-size: 90%;
} */